/* Media Queries for Responsiveness */
/* For screens larger than 600px */
@media only screen and (min-width: 600px) {
    nav {
        display: flex !important;
        justify-content: center;
    }

    #menu-toggle {
        display: none;
    }

    .temple-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .temple-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
